@model Vidly.Models.Movie

@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
	<div class="card flex-md-row mb-4 box-shadow h-md-250">
		<img class="card-img" style="width: 175px; object-fit:cover;" src=@Model.ImgPath alt="Card image cap">
		<div class="card-body d-flex flex-column align-items-start">
			<h3 class="mb-1">
				@Model.OriginalTitle &ensp;|&ensp; <small class="text-muted">@Model.ReleaseDate.Year</small>
			</h3>
			<div class="mb-1 text-muted"></div>
			<p class="text-info">Director: @Model.Director</p>
			<p class="card-text text-left movie-description text-info mb-0">@Model.Rating.Level <span class="badge badge-pill badge-success ml-2">@Model.Rating.Symbol</span></p>
			<p class="card-text text-left movie-description">@Model.Description</p>
			<div class="d-flex justify-content-between w-100">
				<div class="d-block">
					<strong class="d-block mb-2 text-primary">
						@foreach (var genre in Model.Genres)
						{<small>@genre.Type &ensp;|&ensp; </small>}
					</strong>
				</div>
				<div class="d-block text-primary">
					<strong>AVAILABILITY:</strong>
					<strong class="badge badge-pill badge-primary ml-2 p-1"> @Model.NumberInStock</strong>
				</div>
			</div>
		</div>
	</div>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
	@Html.ActionLink("Back to List", "Index")
</p>
